<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for Accord.Math.ruleset" Description="已通过项目“C:\Users\gis\Desktop\accord-panorama-src\Sources\Accord.Math\Accord.Math.csproj”中的“Debug (Any CPU)”配置的 CodeAnalysisRules 属性创建此规则集。" ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1814" Action="None" />
  </Rules>
</RuleSet>